<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статистика запросов погоды</title>
</head>

<body>
    <div>
        <h1>Города и запросы</h1>
    </div>
    {% if cities %}
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Город</th>
                    <th>Всего запросов</th>
                    <th>Дата и время</th>
                </tr>
            </thead>
            <tbody>
                {% for city in cities %}
                <tr>
                    <td>{{ city.name }}</td>
                    <td>{{ city.added|length }}</td>
                    <td>
                        {% for date in city.added %}
                        {{ date }}
                        <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div>
        <h2>
            Статистики нет!
        </h2>
    </div>
    {% endif %}
    <div>
        <br>
        <a href="/">Назад</a>
    </div>
</body>

</html>