<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
</head>

<body>
    <h1>Погода</h1>
    <form action="/weather" method="post">
        <label for="city">Введите название города:</label>
        <input type="text" id="city" name="name" value="{{ last_city }}" required>
        <button type="submit" formaction="/clear" type="submit">x</button>
        <button type="submit">Отправить</button>
    </form>
</body>

</html>