<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
</head>


<body>
    <div>
        <h1>Погода</h1>
    </div>
    <div>
        <form action="/weather" method="post">
            <label for="city">Введите название города:</label>
            <input type="search" id="city" name="name" required>
            <button type="submit">Отправить</button>
        </form>
    </div>
    {% if last_cities %}
    <div>
        <p>Погода в городах:</p>
    </div>
    <div>
        <ul>
            {% for city in last_cities %}
            <li>
                <a href="#" onclick="sendData('{{ city }}')">{{ city }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="/clear" method="post">
            <button type="submit" type="submit">Удалить историю</button>
        </form>
    </div>
    {% endif %}
    <script type="text/javascript">
        function sendData(city) {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '/weather';

            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'name';
            input.value = city;
            form.appendChild(input);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>

</html>