<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
</head>

<body>
    <div>
        <h1>Погода в городе {{ city }}</h1>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>День</th>
                <th>Температура днем (°C)</th>
                <th>Температура ночью (°C)</th>
            </tr>
            {% for i in range(weather['time']|length) %}
            <tr>
                <td>{{ weather['time'][i] }}</td>
                <td>{{ weather['temperature_2m_max'][i] }}</td>
                <td>{{ weather['temperature_2m_min'][i] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <br>
        <a href="/">Назад</a>
    </div>
</body>

</html>