<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>

<body>
    <h1>Погода в городе {{ city }}</h1>
    <table border="1">
        <tr>
            <th>День</th>
            <th>Температура днем (°C)</th>
            <th>Температура ночью (°C)</th>
        </tr>
        {% for i in range(weather['time']|length) %}
        <tr>
            <td>{{ weather['time'][i] }}</td>
            <td>{{ weather['temperature_2m_max'][i] }}</td>
            <td>{{ weather['temperature_2m_min'][i] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>